/* $Id: money.css,v 1.1.4.2 2008/11/16 11:33:58 markuspetrux Exp $ */

/* Checkboxes for currency selection. */
.money-field-currency-checkboxes .form-checkboxes .form-item {
  display: block;
  float: left;
  width: 300px;
}
.money-field-currency-checkboxes .description {
  clear: both;
}
